<p id="notice"><%= notice %></p>

      <!-- Eric: please include the following 'if statement' around your code for each recipe's 'edit' and 'delete' buttons on this page.  Ensures that only recipes that the current user 'owns' are editable:  if current_user.id == recipe.user.id -->
